
    <mat-toolbar style="background-color:black;">
        <mat-toolbar-row fxLayoutAlign="space-between center">
            <div fxLayout="row">
                <button mat-button>
                    <mat-icon style="color: yellow;">eco</mat-icon>
                    <span class="logo"><b>Fazeel</b></span>
                </button>
                <div *ngIf="!deviceXs">
                <button class="btn btn-warning" [matMenuTriggerFor]="appMenu1"><b>About</b></button>
                <mat-menu #appMenu1="matMenu">
                <p mat-menu-item style="color: yellow;background: black;">Change from &#8451; to &#8457; and vice-versa</p>
                <p mat-menu-item style="color: yellow;background: rgb(22,28,41);">Change from &#8451; to &#8490; and vice-versa</p>
                </mat-menu>
                <button class="btn btn-warning" [matMenuTriggerFor]="appMenu2"><b>Formula</b></button>
                <mat-menu #appMenu2="matMenu">
                <p mat-menu-item style="color: yellow;background: black;">C = (F − 32) * 5/9</p>
                <p mat-menu-item style="color: yellow;background: rgb(22,28,41)">F=C(9/5)+32</p>
                <p mat-menu-item style="color: yellow;background: black;">C=K-273.15</p>
                <p mat-menu-item style="color: yellow;background: rgb(22,28,41)">K=C+273.15</p>
                </mat-menu>
                <button class="btn btn-warning" [matMenuTriggerFor]="appMenu3"><b>Contact</b></button>
                <mat-menu #appMenu3="matMenu">
                <p mat-menu-item style="color: yellow;background: black;">Developed by:Fazeel Ansari</p>
                </mat-menu>   
            </div>
            </div>
            <div>
                <button class="btn btn-warning" [matMenuTriggerFor]="appMenu4">
                    <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
                    <mat-menu #appMenu4="matMenu">
                        <button class="btn" style="background-color: black;color: yellow;" routerLink="CelToFah">C<==>F</button>
                        <br>
                        <hr>
                        <button class="btn" style="background-color: rgb(22,28,41);color: yellow;" routerLink="CelToKel">C<==>K</button>
                    </mat-menu>
                    <span *ngIf="!deviceXs">Menu</span>
                </button>
            </div>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="deviceXs" fxLayout="space-between end">
                <button class="btn btn-warning" [matMenuTriggerFor]="appMenu1"><b>About</b></button>
                <mat-menu #appMenu1="matMenu">
                <p mat-menu-item style="color: yellow;background: black;">Change from &#8451; to &#8457; and vice-versa</p>
                <p mat-menu-item style="color: yellow;background: rgb(22,28,41);">Change from &#8451; to &#8490; and vice-versa</p>
                </mat-menu>
                <button class="btn btn-warning" [matMenuTriggerFor]="appMenu2"><b>Formula</b></button>
                <mat-menu #appMenu2="matMenu">
                <p mat-menu-item style="color: yellow;background: black;">C = (F − 32) * 5/9</p>
                <p mat-menu-item style="color: yellow;background: rgb(22,28,41);">F=C(9/5)+32</p>
                <p mat-menu-item style="color: yellow;background: black;">C=K-273.15</p>
                <p mat-menu-item style="color: yellow;background: rgb(22,28,41);">K=C+273.15</p>
                </mat-menu>
                <button class="btn btn-warning" [matMenuTriggerFor]="appMenu3"><b>Contact</b></button>
                <mat-menu #appMenu3="matMenu">
                <p mat-menu-item style="color: yellow;background: black;">Developed by:Fazeel Ansari</p>
                </mat-menu>   
            </mat-toolbar-row>
            </mat-toolbar>
            <div class="app-name">
                <h1>Temperature Converter</h1>
            </div>
<router-outlet></router-outlet>